.anime{
    width: 40%;
    height: 40%;
    margin: auto auto ;

}
.body{
    background-image: linear-gradient(gray, white);
    height: 100%;
}
.link{
    background-color: rgb(70, 70, 252);
    padding: 12px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 50px;
}