.anime{
    width: 40%;
    height: 40%;
    margin: auto auto ;

}
@media only screen and (max-width: 600px) {
    .anime {
        width: 100%;
        height: 100%;
        margin: auto auto ;
    }
  }
.body{
    background-image: linear-gradient(gray, white);
    height: 100%;
    width: 100%;
}
.link{
    background-color: rgb(70, 70, 252);
    padding: 12px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 50px;
    text-align: center;
}